/* 全域設定 */
.notransform{
    text-transform: none !important; 
}

.zeweicenter{
    text-align: center;
}

#redred{
    padding: 20px;
    background-color: #002f75;
    color: white;
    border: 10px solid rgb(255, 251, 0);
    border-radius: 30px;
    font-size: 40px;
    text-align: center;
    font-family: 'Noto Serif Tc', sans-serif;
    letter-spacing: 0.8px;
    line-height: 1em;  
    max-width: 100%;
    height: auto;
    width: auto;
    
  }
  
  #red02{
    padding: 20px;
    background-color: #0dcaf0;
    color: white;
    border: 10px solid orange;
    border-radius: 5px;
    font-size: 40px;
    text-align: center;
    font-family: 'Noto Serif Tc', sans-serif;
    letter-spacing: 0.8px;
    line-height: 1.5em;
  }

#red03 {
    padding: 20px;
    background-color: #002f75;
    color: white;
    border: 10px solid rgb(255, 251, 0);
    border-radius: 20px;
    font-size: 40px;
    text-align: center;
    font-family: 'Noto Serif Tc', sans-serif;
    letter-spacing: 0.8px;
    line-height: 1em;
    width: 80%;
    margin: 15px auto;
}

  .bg-primary{
    background-color: lightblue !important;
  }

  .overflowbox {
    background-color: rgb(0 148 255);
    color: rgb(255 255 255);
    padding: 20px;
    border-radius: 10px;
    margin: 0px;
    overflow: visible;
    font-size: 20px;   
  }

.boxtest {
    background-color: rgb(74, 82, 89);
    color: rgb(255, 251, 0);
    padding: 10px;
    border-radius: 15px;
    margin: 20px auto;
    height: 200px;
    overflow: scroll;
    width: 52%;
    font-size: 20px;
    text-align: center;
}

.text-center {
    text-align: center;
}

body {
    background-color: rgb(199,205,241,0.5);
    font-family: 'Noto serif TC',sans-serif;
}

.blueblue {
    color: #002f75;
}

.noto-serif-tc-regular {
    font-family: "Noto Serif TC", serif;
    font-weight: 400;
    font-style: normal;
}

.container {
  width: 100%;
}

.column {
  width: 50%;
  float: left;
}